extends ../layout/index

block contenido
    input(type="hidden" name="_csrf" value=csrfToken)
    .py-10 
        h1.text-4xl.my-10.font-extrabold.text-center.text-customGreen Bienes
            span.font-normal.text-black Raíces
        h2.text-center.text-2xl.font-bold= page
    center 
        .py-8.px-4.shadow-xl.rounded-xl.max-h-space.max-w-xl(class=error ? 'bg-customGreen' : 'bg-green-500')
            p.px-5.rounded-lg.w-full.text-white.text-lg.font-bold= msg

            if !error 
                a.text-center.font-bold.text-sm.text-slate-600.uppercase.mt-10.block.bg-white.shadow-lg.rounded-lg.py-2.max-w-96(href="/auth/login") Iniciar sesión ahora
