extends ../layout/index

block contenido
    .py-10
        h1.text-4xl.my-10.font-extrabold.text-center Bienes
            span.font-normal.text-customBlackHover Raíces 

        .mt-8.mx-auto.max-w-4xl.flex
            .bg-customGreen.px-10.shadow-xl.rounded-l-xl.w-full.justify-center.items-center.text-white.py-48.max-h-space
                if errores
                    .mx-w-md.mx-auto.mb-5(class="animate-anim2")
                        each error in errores
                            .flex.items-center.p-4.mb-2.text-sm.rounded-lg.bg-white.text-customGreen.max-w-xl.mx-auto.hidden.shadow-md(class="animate-anim1")
                                svg.flex-shrink-0.inline.w-4.h-4.me-3(aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20")
                                    path(d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z")
                                span.font-medium= error.msg
                div
                    center
                        h2.text-2xl.font-extrabold.text-customGreen ¡Bienvenido de vuelta! 
                        p.text-xl.font-bold.text-center Ingresa a tu cuenta para continuar a BienesRaices
                    center.mt-10
                        a.text-md.text-customGreen.bg-white.rounded-lg.items-center.py-3.px-16.font-bold(href="/auth/registro" class=" hover:bg-customGreenHover transition duration-300") ¿No tienes cuenta? ¡Crea una!

            .bg-white.py-8.px-4.shadow-xl.rounded-r-xl.w-full.min-h-space
                h2.text-center.text-2xl.font-bold.mb-10.mt-5= page
                form(method='POST' action='/auth/login' noValidate).space-y-5.px-6
                    input(type="hidden" name="_csrf" value=csrfToken)
                    div 
                        label.block.text-sm.uppercase.text-darkGray.mb-2.font-bold(for="email") Correo
                        input#email.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Ingresa tu correo" type="email" name="email" required)
                    div
                        label.block.text-sm.uppercase.text-darkGray.mb-2.font-bold(for="email") Contraseña
                        input#password.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Ingresa tu contraseña" type="password" name="password" required)

                    .flex.items-center.justify-center
                        a.text-darkGray.text-xs(href="/auth/olvide-password" class="hover:underline hover:decoration-2 hover:decoration-customGreen transition duration-300") Olvide mi contraseña...

                    input(class="w-full bg-customGreen hover:bg-customGreenHover text-white font-bold py-3 cursor-pointer rounded-lg transition duration-300" type="submit" value="Iniciar sesión")
                    