extends ../layout/index

block contenido
    div.py-10
        h1.text-4xl.my-10.font-extrabold.text-center.text-green-600 Bienes
            span.font-normal.text-black Raíces

        .mt-8.mx-auto.max-w-4xl.flex
            .bg-green-600.px-10.shadow-xl.rounded-l-xl.w-full.justify-center.items-center.text-white.py-48.max-h-space
                if errores
                    div.mx-w-md.mx-auto.mb-5(class="animate-anim2")
                        each error in errores
                            .flex.items-center.p-4.mb-2.text-sm.rounded-lg.bg-white.text-green-600.max-w-xl.mx-auto.hidden.shadow-md(class="animate-anim1")
                                svg.flex-shrink-0.inline.w-4.h-4.me-3(aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20")
                                    path(d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z")
                                span.font-medium= error.msg
                div 
                    center
                        h2.text-2xl.font-extrabold ¿Olvidaste tu contraseña?
                        p.text-xl.font-bold.text-center No te preocupes, ingresa tu correo y te enviaremos un codigo de verificación de cuenta para reestablecer tu contraseña.
            .bg-white.py-8.px-4.shadow-xl.rounded-r-xl.w-full
                h2.text-center.text-2xl.font-bold.mb-10.mt-5= page
                form(method='POST' action='/auth/olvide-password' noValidate).space-y-5.px-6
                    input(type="hidden" name="_csrf" value=csrfToken)
                    div
                        label.block.text-sm.uppercase.text-gray-600.mb-2.font-bold(for="email") Correo
                        input#email.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Ingresa tu correo" type="email" name="email" required)
                    
                    .flex.items-center.justify-between
                        a.text-gray-500.text-xs(href="/auth/registro" class="hover:underline hover:decoration-2 hover:decoration-green-600 transition duration-300") ¿No tienes cuenta? Crea una...
                        a.text-gray-500.text-xs(href="/auth/login" class="hover:underline hover:decoration-2 hover:decoration-green-600 transition duration-300") ¿Ya tienes cuenta? Inicia sesión

                    input(class="w-full bg-green-600 hover:bg-green-500 text-white font-bold py-3 cursor-pointer rounded-lg" type="submit" value="Recuperar contraseña")
