doctype html 
html(lang="es")
    head 
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="shortcut icon" href="/icons/favicon.ico" type="image/x-icon")
        title Bienes Raíces | #{page}
        link(rel="stylesheet" href="/css/app.css")
        block styles

    //- Condicional para el fondo con tonos verdes
    if bg_reg
        body.min-h-screen(class="bg-gradient-to-t from-green-100 to-green-500")
            main(class="mx-auto container mt-10 px-2")
                block contenido
    else
        body.min-h-screen(class="bg-gradient-to-t from-green-50 to-green-300")
            main(class="mx-auto container mt-10 px-2")
                block contenido

    block scripts
